@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-gray: #dedede;
  --gray: #d6d6d6;
  --primary: #244D61;
}

.dark {
  --primary: #5B9BD5;
  --primary-bg: #27272b;
}

@layer utilities {
  .nav-text {
    @apply relative text-base font-semibold capitalize tracking-wide;
  }

  .active .underline-animation {
    @apply w-full;
  }

  .underline-animation {
    @apply absolute inset-x-0 bottom-0 h-0.5 w-0 overflow-hidden bg-black dark:bg-white transition-all duration-300 group-hover:w-full;
  }

  .social-icon {
    @apply text-center text-2xl text-black dark:text-white hover:text-primary;
  }

  #click:checked~nav {
    left: 0%;
    transition: all 0.3s ease;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f9fafb;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

.cursor-big-circle,
.cursor-small-circle {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  z-index: 9222;
  transform: translate(-50%, -50%);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.5s ease-in-out;
}

@keyframes cursor {
  0% {
    transform: scale(0.5, 0.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.cursor-big-circle {
  width: 85px;
  height: 85px;
  border: 1px solid var(--gray);
  box-shadow: inset 0 0 0px 0.5px var(--light-gray);
}

.cursor-small-circle {
  width: 8px;
  height: 8px;
  box-shadow: inset 0 0 0px 0.5px var(--light-gray);
  background-color: var(--gray);
}

.active-cursor-big-circle {
  box-shadow: "none";
  transform: translate(-50%, -50%) scale(0);
}

.active-cursor-small-circle {
  transform: translate(-50%, -50%) scale(2.2);
  background: hsla(0, 0%, 100%, 0.3);
  border: 1px solid #fff;
}

.inactive-cursor-big-circle {
  transform: translate(-50%, -50%) scale(1);
}

.inactive-cursor-small-circle {
  transform: translate(-50%, -50%) scale(1);
}